/* src/styles/InputComponent.css */

.input-component {
    margin-bottom: 15px;
  }
  
  .input-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .p-inputtext {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  